@*<!-- ========== Footer wdiget section ========== -->
<section class="footer-widget section-gray pt100 pb100">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="single-footer-widget">
					<h6>About Clinica</h6>
					<p>But I must explain to you how all this mistaken ofidea of denouncing pleasure and praising pain was born and I will give you a complete account of the.</p>
					<p>System, and expound the actual teachings of ello the great explorer of the truth, the master-builder of.</p>
					<ul class="footer-social">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-linkedin"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- End single footer-widget -->
			<div class="col-sm-4">
				<div class="single-footer-widget">
					<h6>Medical Departments</h6>
				
					<ul>
						<li><a href=""><i class="fa fa-angle-right"></i>  General Practice</a></li>
						<li><a href=""><i class="fa fa-angle-right"></i>  Cardiology</a></li>
						<li><a href=""><i class="fa fa-angle-right"></i>  Pediatrics</a></li>
						<li><a href=""><i class="fa fa-angle-right"></i>  Diabetes Care</a></li>
						<li><a href=""><i class="fa fa-angle-right"></i>  Ultrasound Echocardiogram</a></li>
					</ul>
				</div>
			</div>
			<!-- End single footer-widget -->
			<div class="col-sm-4">
				<div class="single-footer-widget">
					<h6>Latest Health Tips</h6>
					<ul>
						<li><a href=""><i class="fa fa-chevron-circle-right"></i> Nutritional Personal Consultation</a></li>
						<li><a href=""><i class="fa fa-chevron-circle-right"></i> Discoveries offer a new explanation for diabetes</a></li>
						<li><a href=""><i class="fa fa-chevron-circle-right"></i> Center for Medical Technology </a></li>
						<li><a href=""><i class="fa fa-chevron-circle-right"></i> New study links lutein with eye health benefits</a></li>
						<li><a href=""><i class="fa fa-chevron-circle-right"></i> Pets may reduce risk of heart disease</a></li>
					</ul>
				</div>
			</div>
			<!-- End single footer-widget -->
		</div>
	</div>
</section>

<footer class="footer section-dark pt30 pb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright &copy; <a href="#">Clinica</a> 2017. All rights reserved.  |  Clinica Theme by <a href="#">ThemeAtelier</a></p>
            </div>
        </div>
    </div>
</footer>*@
@*<section class="footer-widget section-gray pt100 pb100">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-footer-widget">
                    <h6>About Clinica</h6>
                    <p>But I must explain to you how all this mistaken ofidea of denouncing pleasure and praising pain was born and I will give you a complete account of the.</p>
                    <p>System, and expound the actual teachings of ello the great explorer of the truth, the master-builder of.</p>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End single footer-widget -->
            <div class="col-sm-4">
                <div class="single-footer-widget">
                    <h6>Medical Departments</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i>  General Practice</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>  Cardiology</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>  Pediatrics</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>  Diabetes Care</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>  Ultrasound Echocardiogram</a></li>
                    </ul>
                </div>
            </div>
            <!-- End single footer-widget -->
            <div class="col-sm-4">
                <div class="single-footer-widget">
                    <h6>Latest Health Tips</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Nutritional Personal Consultation</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Discoveries offer a new explanation for diabetes</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Center for Medical Technology </a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> New study links lutein with eye health benefits</a></li>
                        <li><a href="#"><i class="fa fa-chevron-circle-right"></i> Pets may reduce risk of heart disease</a></li>
                    </ul>
                </div>
            </div>
            <!-- End single footer-widget -->
        </div>
    </div>
</section>*@
<section class="contact-info section-blue pt100 pb100" dir="rtl">
    <div class="container">
        <div class="row">
			
            <div class="col-md-5 col-sm-4 opening-hours-wrap">
                <h2>تایم کاری</h2>
                <ul class="opening-hours">
                    <li>شنبه - چهارشنبه <span class="pull-right">8.00 - 17.00</span></li>
                    <li>پنج شنبه  <span class="pull-right">9.30 - 17.30</span></li>
                    <li>جمعه <span class="pull-right">9.30 - 15.00</span></li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-8">
                <h2>آدرس مطب</h2>
                
                <div class="col-sm-7 xs-padding-none">
                    @*                    <div class="map"></div>
*@                </div>
                <div class="col-sm-5 xs-padding-none">
                    <ul class="contact-detail">
                        <li><i class="fa fa-location-arrow"></i>تهران،خیابان ولیعصر</li>
                        <li><i class="fa fa-phone"></i> 6511111 021</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:info@clicawebsite.com">info@clicawebsite.com</a><br><a href="mailto:contact@clicawebsit.com">contact@clicawebsit.com </a></li>
                    </ul>
                </div>
            </div>
			
        </div>
    </div>
</section>
<footer class="footer section-dark pt30 pb30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright © <a href="#">مطب</a>2023</p>
            </div>
        </div>
    </div>
</footer>