<header class="header-area header-area-v2 section-light">
    <div class="header-top">
        <div class="container">
            <div class="row">

                <!-- Mainmenu-area Start-->
                <div class="mainmenu-area hidden-xs text-right col-sm-9">
                    <div class="mainmenu">

                        <nav>

                            <ul>
                                <li style="padding-right: 623px" class="sub-menu " >
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                       @* <a class="nav-link " href="/Admin/Appointment"><p class="myfont">خوش آمدی @User.Identity.Name </p></a>*@
                                        <a class="nav-link" href="/Logout"><p class="myfont text-danger">خروج</p></a>

                                    }
                                    else
                                    {
                                        <a class="nav-item"  href="/Login"><p class="myfont">ثبت نام|ورود</p></a>
                                    }
                                </li>
                                @* <li><a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                    <li><a href="index.html">Home v1</a></li>
                                    <li><a href="index-2.html">Home v2</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="doctors.html">Doctors</a>
                                    <ul class="sub-menu">
                                    <li><a href="doctor-profile.html">Doctor profile</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="appointment.html">appointment</a></li>
                                    <li><a href="department.html">Department</a></li>
                                    <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="404.html">404</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="blog.html">Articals</a>
                                    <ul class="sub-menu">
                                    <li><a href="blog-full.html">Blog full width</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                    <li><a href="single.html">Single blog</a></li>
                                    <li><a href="single-left-sidebar.html">Single left sidebar</a></li>
                                    <li><a href="single-right-sidebar.html">Single right sidebar</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact Us</a></li>*@
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-10 logo">
                    <a href="/"><img class="img-responsive" src="/img/logo/logo-header-2.png" alt="logo"></a>
                </div>
                <!-- Mainmenu-area End-->
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <!-- Mobile-menu-area Start -->
    <div class="mobile-menu-area visible-xs" dir="rtl">
        <div class="mean-container">
            @*<div class="col-md-12">
                <div class="mobile-menu">

                <nav id="dropdown">
                <ul>
                <li style="align-items: center" class="sub-menu myfont">

                </li>
                <li><a href="index.html">Home</a>
                <ul>
                <li><a href="index.html">Home v1</a></li>
                <li><a href="index-2.html">Home v2</a></li>
                </ul>
                </li>
                <li><a href="doctors.html">Doctors</a>
                <ul>
                <li><a href="doctor-profile.html">Doctor profile</a></li>
                </ul>
                </li>
                <li><a href="appointment.html">appointment</a></li>
                <li><a href="department.html">Department</a></li>
                <li><a href="#">Pages</a>
                <ul>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="404.html">404</a></li>
                </ul>
                </li>
                <li><a href="blog.html">Articals</a>
                <ul>
                <li><a href="blog-full.html">Blog full width</a></li>
                <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                <li><a href="single.html">Single blog</a></li>
                <li><a href="single-left-sidebar.html">Single left sidebar</a></li>
                <li><a href="single-right-sidebar.html">Single right sidebar</a></li>
                </ul>
                </li>
                <li><a href="contact-us.html">Contact Us</a></li>
                </ul>
                </nav>
                </div>
                </div>*@

            <div class="col-md-2">
                @if (User.Identity.IsAuthenticated)
                {
                    
                    <div class="side-nav-cart">
                        <a class="nav-link text-danger" href="/Logout"><p class="myfont">خروج</p></a>
                    </div>

                }
                else
                {
                    <a class="nav-item" s href="/Login"><div class="myfont">ورود/ثبت نام</div></a>
                }
            </div>

        </div>

    </div>
    <!-- Mobile-menu-area END -->
</header>