<div class=" pb100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="four-zero-page text-center">
                    <h3>!خطا </h3>
                    <h1>404</h1>
                    <h2>صفحه مورد نظر یافت نشد</h2>
                    <div class="col-sm-6 col-sm-offset-3 ">
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center mt30">
                        <a href="/" class="primary-btn">بازگشت به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>